*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mukta", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
a {
  transition: all 0.3s ease;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
  object-position: top center;
  transition: all 0.3s ease;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-color: #9443b1;
  --secondary-color: #00b4ff;
}

ol,
ul {
  list-style: none;
}

.color-black {
  color: #202020 !important;
}

.m-0 {
  margin: 0 !important;
}

.m-y-30 {
  margin: 30px 0;
}

.m-y-70 {
  margin: 70px 0;
}
.m-t-5 {
  margin-top: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.margin-none {
  margin: 0 !important;
}

.border-bottom {
  border-bottom: solid 2px #dfdfdf;
}

.gap-10 {
  gap: 10px;
}

.gap-30 {
  gap: 30px;
}

.span-5 {
  grid-column: span 5;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.auther-name {
  color: #202020;
  font-size: 1rem;
  font-weight: 600;
}

.auther-name:hover {
  color: var(--primary-color);
}

.auth-name {
  color: var(--primary-color);
  font-size: 0.9;
  font-weight: 600;
}

.auth-name:hover {
  text-decoration: underline;
}

.heading-label {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--primary-color);
  padding: 8px 30px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: none;
}

.sticky-section {
  position: sticky;
  top: 50px;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

main {
  overflow: hidden;
  position: relative;
}

.img-holder {
  overflow: hidden;
  border-radius: 4px;
}

.img-holder:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.video-icon-holder {
  width: 80px;
}

.video-icon-small-holder {
  width: 40px;
}

.video-icon {
  display: inline-block;
}

.ads {
  display: flex;
  overflow: hidden;
  height: 100px;
}

.ads img {
  height: 100%;
}

.ads-wrap {
  /* margin-bottom: 20px; */
}

.ads-holder {
}

.ads-holder img {
  width: 100%;
}

.thumbnail-holder {
  overflow: hidden;
  border-radius: 4px;
}

.section-two-thumb:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.thumb-heading {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.thumb-small-heading {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.thumbnail-desc-large {
  color: #000;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
}

.thumbnail-desc-medium {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
}

.thumbnail-large-desc {
  color: #000;
  font-size: 1.7rem;
  font-weight: 600;
}

.thumbnail-desc {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}

.white-thumbnail-desc {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.thumbnail-desc:hover,
.white-thumbnail-desc:hover,
.thumbnail-large-desc:hover,
.thumbnail-desc-medium:hover,
.thumbnail-desc-large:hover {
  color: var(--primary-color);
}

.news-date {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #999;
}

.news-date:hover {
  color: var(--primary-color);
}

.news-time-history {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #fff;
}

.news-paragraph {
  font-size: 1rem;
  color: #676767;
  margin: 10px 0;
}

.main-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h1 {
  color: var(--secondary-color);
  font-size: 1.5rem;
  text-decoration: none;

  display: inline-block;
  font-weight: bold;
  padding: 0.5em;
  margin-left: -0.5em;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.main-header h1::before,
.main-header h1::after {
  position: absolute;
  content: "";
  border-bottom: 3px solid var(--secondary-color);
  border-radius: 1em;
  bottom: 0.3em;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-header h1::before {
  width: 1em;
  transform-origin: left;
}

.main-header h1::after {
  width: 82%;
  left: 1em;
  transform: translateX(110%);
}

.main-header h1:hover::before {
  transform: scaleX(0.3);
}

.main-header h1:hover::after {
  transform: translateX(0);
}

.more-button {
  color: #3c3c3c;
  font-size: 1rem;
}

.more-button:hover {
  color: var(--primary-color);
}

.more-button:hover .more-icon {
  transform: translate(3px, 0);
}

.white-more-button {
  color: white;
  font-size: 1rem;
}

.white-more-button:hover {
  color: var(--primary-color);
}

.white-more-button:hover .more-icon {
  transform: translate(3px, 0);
}

.small-header {
  color: #3c3c3c;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* .main-header h1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
} */

/* TAB */

.tabs-holder {
  border-bottom: solid 3px #dfdfdf;
  padding-bottom: 1px;
  /* margin-bottom: 2rem; */
}

.input {
  position: absolute;
  opacity: 0;
}

.label {
  color: #000;
  font-size: 1rem;
  line-height: 1rem;
  margin-right: 1rem;
  font-weight: 700;
  /* text-transform: uppercase; */
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.label:hover {
  color: var(--primary-color);
}
.label:active {
  color: var(--primary-color);
}
.input:focus + .label {
  z-index: 1;
}
.input:checked + .label {
  color: var(--primary-color);
  border-bottom: solid 3px var(--primary-color);
}

.content {
  display: none;
}

/* TAB END */

/* SAMAJIK NEWS */

.section-four-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.number-label {
  font-size: 3rem;
  font-weight: 700;
  color: #cddaee;
}

.section-six-holder {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.section-six-box .thumbnail-small:last-child {
  margin: 0;
}

/* SAMAJIK NEWS END */

/* SLIDER */

.thumb-slider-wrapper {
  background-color: #161922;
  padding: 50px 0;
}

.slider-holder {
  margin: 0 10px;
}

.slider-thumb {
  position: relative;
}

.slider-thumb:hover .thumb-heading {
  text-decoration: underline;
}

.slider-thumb:hover .thumb-small-heading {
  text-decoration: underline;
}

.slider-may-like-btns {
  border: none;
  outline: none;
  background-color: #7a0680;
  padding: 8px 25px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.slider,
.slider-may-like {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.slider img {
  width: 100%;
  max-width: 100%;
  height: 500px;
  max-height: 500px;
  min-height: 500px;
}

.slider-arrows {
  position: relative;
  margin-right: -50px;
  margin-left: -50px;
}

.arrow {
  border: none;
  outline: none;
  background-color: #dfdfdf;
  color: var(--primary-color);
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  top: -300px;
  right: 0;
}

.arrow-left {
  position: absolute;
  top: -300px;
  left: 0;
}

/* .slick-prev,
.slick-next {
}

.slick-prev::before,
.slick-next::before {
  color: var(--primary-color);
  box-shadow: 0px 0px 4px 0px rgba(0, 180, 255, 0.5);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 180, 255, 0.5);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 180, 255, 0.5);
} */

.section-one-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-one-title {
  font-size: 4rem;
  font-weight: 800;
}

.section-one-title a {
  color: #3c3c3c;
}

.section-one-title a:hover {
  color: var(--primary-color);
}

.auth-details {
}

.auth-profile {
  display: flex;
  align-items: center;
}

.auth-profile-holder {
  border: solid #9443b1 1px;
  border-radius: 100%;
  padding: 2px;
  width: 50px;
  height: 50px;
}

.auth-profile-holder img {
  border-radius: 100%;
  width: 44px;
  height: 44px;
}

.section-one-thumb {
  width: 100%;
  height: 600px;

  overflow: hidden;
  border-radius: 4px;
}

.trending-tags {
  display: flex;
  border-bottom: solid #999 1px;
  margin: 20px 0;
}

.tags-list {
  color: #202020;
  font-size: 0.9rem;
  font-weight: 600;
}

.tags-list:hover {
  color: var(--secondary-color);
}

.tags-list::before {
  content: "#";
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.logo-holder {
  width: 400px;
}

.update_date {
  display: flex;
  align-items: center;
}

.update_date a {
  font-size: 0.9rem;
  color: #3c3c3c;
}

.update_date a:hover {
  color: var(--primary-color);
}

/* NAV BAR */

.nav-bar {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: white;
  border-top: solid #f2f2f2 1px;
  /* // border-bottom: solid #999 1px; */
  box-shadow: 0px 2px 11px -6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 11px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 11px -6px rgba(0, 0, 0, 0.3);
}

.hamburger-button {
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.nav-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.nav-items {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
}

.nav-items:hover {
  color: var(--secondary-color);
}

.more-dropdown li {
  padding: 0 30px;
}

nav.nav ul li {
  position: relative;
}

nav.nav ul li a:hover {
  color: var(--secondary-color);
}

nav.nav ul li:hover {
  cursor: pointer;
}

nav.nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
}

nav.nav ul li:hover > ul,
nav.nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
  z-index: 99;
}

nav.nav ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

nav.nav ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid var(--secondary-color);
  transition: all 0.3s ease;
}

nav.nav ul li ul li a {
  display: block;
  transition: all 0.5s ease;
  color: var(--primary-color);
}

/* NAV BAR END */

/* SEARCH */

.search-bar {
  width: 245px;
  /* height: 100%; */
  align-items: center;
  justify-content: start;
  position: relative;
}

.search-icon {
  color: #999;
  transition: all 0.25s ease-out;
  position: absolute;
  left: 0;
}

.search-input {
  outline: none;
  border: none;
  border-bottom: solid 2px #dfdfdf !important;
  width: 100%;
  padding: 0 5px 0 30px;
  color: #3c3c3c;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.25s ease-out;
}

.search-input:focus {
  border-bottom: solid 2px var(--secondary-color) !important;
}

/* SEARCH END */

/* SIDEBAR */

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background-color: white;
  color: #fff;
  padding: 20px;
  transition: transform 0.3s;
  z-index: 999;
  overflow-y: scroll;
  overflow-x: hidden;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.side-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 20px;
}

.logo_icon {
  width: 200px;
}

.toggle_close {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}

.side-nav ul li {
  position: relative;
}

.side-nav-items:hover {
  color: var(--secondary-color);
}

.side-nav ul li:hover {
  cursor: pointer;
}

.side-nav ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  /* border-style: none; */
}
.side-nav-items {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
  display: block;
  padding: 5px;
}

.side-nav-items:hover {
  padding-left: 10px;
  border-left: 3px solid var(--secondary-color);
  transition: all 0.3s ease;
  background-color: #f1f1f1;
}

.side-nav-items {
  transition: all 0.5s ease;
}

.side-nav-dropdown-li {
  border-bottom: solid #dfdfdf 1px;
  margin-bottom: 10px !important;
}

.side-dropdown-items {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 400;
  display: block;
}
.side-dropdown-items:hover {
  color: var(--secondary-color);
}

.side-nav-dropdown {
  margin-top: 10px;
  margin-left: 10px;
  display: none;
  background: white;
  border-radius: 4px;
}

/* .side-nav ul li:hover > ul,
.side-nav-dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
} */

/* SIDEBAR END */

/* LATEST NEWS SECTION */
.title-tag {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--primary-color);
  padding: 8px 25px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.section-two-holder {
  display: flex;
}

.section-two-left {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.section-two-thumb {
  position: relative;
}

.thumb-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 20px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}

.section-two-thumb:hover .thumb-heading {
  text-decoration: underline;
  /* color: var(--secondary-color); */
}

.thumbnail-large {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
}

.thumbnail-medium {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.thumbnail-small {
  display: flex;
  gap: 20px;
}

.thumbnail-small .img-holder img {
  width: 140px;
  min-width: 140px;
  max-width: 140px;
}

.section-two-right {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-two-list .thumbnail-small:last-child {
  margin-bottom: 0;
  margin: 0;
}

/* LATEST NEWS SECTION END*/

.section-nine {
  background-color: #161922;
  padding: 50px 0;
}

.section-nine-news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* NAGRIK MIRROR */
.section-ten-holder {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.section-ten-left {
  grid-column: span 2;
}

/* NAGRIK MIRROR END */

/* EXCLUSIVE NEWS SECTION */

.section-three-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.section-three-list {
  /* grid-column: span 3 / span 3; */
  display: flex;
  flex-direction: column;
}

.section-three-main-thumb {
  /* grid-column: span 5 / span 5; */
}

.section-three-thumbnail-list {
  /* grid-column: span 4 / span 4; */
  /* padding: 0.5rem 0; */
}

/* EXCLUSIVE NEWS SECTION END */

/* MOST READ NEWS SECTION */

.section-five-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.section-five-thumbnail {
  grid-column: span 2;
}

.section-five-news {
  /* display: grid; */

  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
}

/* MOST READ NEWS SECTION END */

.pradesh-news-holder {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.pradesh-main-thumb {
  grid-column: span 2;
}

.pradesh-thumb-list {
  grid-column: span 1;
}

.pradesh-news-list {
  grid-column: span 1;
}

.pradesh-news-list .border-bottom:last-child {
  border: none;
  margin: 0;
}

.section-twelve-news-list .border-bottom:last-child {
  border: none;
  margin: 0;
}

.section-three-list .border-bottom:last-child {
  border: none;
  margin: 0;
}

/* WEEKLY HIGHLIGHT */

.section-eight-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* WEEKLY HIGHLIGHT END */

/* section-eleven */

.section-eleven-news-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.section-eleven-right {
  position: relative;
}

/* section-elevenEND */

/* RAJNITIK NEWS SECTION */

.section-twelve-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.section-twelve-post {
  grid-column: 1/-5;
}

.section-twelve-post-holder {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

/* RAJNITIK NEWS SECTION END */

#wrapper {
  width: 100%;
  max-width: 964px;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 180px;
  height: 180px;
  background: green;
}

.section-thirteen-holder {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.section-thirteen-left {
  grid-column: span 2;
}

.section-fourteen {
  background-color: #161922;
  padding: 50px 0;
}

.section-fourteen-holder {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.section-fourteen-left {
  grid-column: span 3;
}

.section-fifteen-right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.section-fifteen-left-video {
  height: 500px;
}

.footer {
  background-color: var(--primary-color);
  border-top: solid #efefef 2px;
}

.footer .footer_content {
  display: flex;
  gap: 20px;
  padding: 50px 0;
}

.footer-links-holder {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.footer_links {
  width: 70%;
}

.footer .footer_content .footer_info {
  width: 30%;
  border-right: solid #fff 1px;
}

.footer .footer_content .footer_info h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.footer .footer_content .footer_info .company_info {
  /* border-bottom: solid #dfdfdf 1px; */
  padding: 0 0 10px 0;
}

.footer .footer_content .footer_info .company_info li {
  list-style: none;
  font-size: 1rem;
  color: #fff;
  margin: 5px 0;
}

.footer .footer_content .footer_info .social_link {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  margin: 20px 0 0 0;
}

.social_link a {
  color: #fff;
  background-color: #ffffff79;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.social_link a:hover {
  color: #fff !important;
  background-color: var(--secondary-color);
}

.social_link a:hover {
  color: var(--secondary-color);
}

.footer .footer_content .footer_links h2 {
  margin-bottom: 20px;
}

.footer .footer_content .footer_links ul li {
  list-style: none;
  margin: 10px 0;
}

.footer .footer_content .footer_links ul li a {
  font-size: 1.1rem;
  color: #fff;
}

.footer .footer_content .footer_links ul li a:hover {
  color: var(--secondary-color);
}

.footer .footer_content .footer_teams {
  width: 45%;
}

.footer .footer_content h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.footer .footer_content .footer_teams .footer_teams_info {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
}

.footer .footer_content .footer_teams .footer_teams_info .footer_teams_details {
  margin-bottom: 20px;
}

.footer
  .footer_content
  .footer_teams
  .footer_teams_info
  .footer_teams_details
  p {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 600;
}

.footer
  .footer_content
  .footer_teams
  .footer_teams_info
  .footer_teams_details
  h3 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  margin-top: 5px;
}

.footer .footer_content .footer_teams .view_all button {
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 30px;
  background-color: var(--primary-color);
  border-radius: 50px;
  cursor: pointer;
}

/* .footer_bottom */
.footer .footer_bottom {
  background-color: #f5f5f5;
}

.footer .footer_bottom .footer_bottom_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.footer .footer_bottom .footer_bottom_container .copy_right_text p {
  font-size: 1rem;
  font-weight: 600;
  color: #3c3c3c;
}

.footer .footer_bottom .footer_bottom_container .back_to_top button {
  display: flex;
  gap: 10px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #3c3c3c;
  cursor: pointer;
}

.footer-logo-holder {
  padding-right: 10px;
  border-right: solid #fff 1px;
}

.bottom-footer {
  display: flex;
  gap: 10px;
  padding: 20px 0;
  border-top: solid #fff 1px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 100%;
}

.copyright-content p {
  font-size: 0.9rem;
}

.extra-links ul {
  color: #fff;
  display: flex;
  gap: 10px;
}

.extra-links ul li:not(:last-child):after {
  content: "/";
}

.extra-links ul li a {
  color: #fff;
}

.extra-links ul li a:hover {
  color: var(--secondary-color);
}

/* CHILD PAGE */
.breadcrumb-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: solid #dfdfdf 1px;
}

.breadcrumb-child-text {
  font-size: 1rem;
  font-weight: 600;
  color: #999;
}

.result-section-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.detail-section-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.result-section-left {
  grid-column: span 2;
}

.result-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.content .border-bottom:last-child {
  border: none;
  margin: 0;
}

.contact-info {
  background-color: var(--primary-color);
  padding: 20px 30px;
  height: 84%;
}

.contact-info-wrapper h3 {
  font-size: 1.2rem;
  color: #fff;
}

.contact-details {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  margin: 10px 0;
}

.contact-details a {
  color: white;
}

.contact-details a:hover {
  color: var(--secondary-color);
}

.contact-form .contact_form_header p {
  font-size: 1rem;
  font-weight: 600;
  color: #202020;
}
.contact-form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.contact-form .col {
  flex: 1;
  margin: 15px 0;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="url"],
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="url"]:focus,
.contact-form textarea:focus {
  border: 1px solid var(--primary-color);
}
.contact-form::-moz-placeholder {
  color: #888;
}
.contact-form::placeholder {
  color: #888;
}
.contact-form textarea {
  resize: vertical;
}
.contact-form .contact_submit button {
  width: 100%;
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 10px 25px;
  background-color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.contact-form .contact_submit button:hover {
  background-color: #7d3696;
}

.socialmedia-share-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: solid #dfdfdf 1px;
  border-bottom: solid #dfdfdf 1px;
}

.socialmedia-share-links p {
  font-size: 1rem;
  color: #3c3c3c;
}

.num-of-share {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
}

.link-button {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
}

.fb-link {
  background-color: #3b5998;
}

.tweet-link {
  background-color: #00acee;
}

.pin-link {
  background-color: #c03632;
}

.comment-author {
  font-size: 1.1rem;
  color: #000;
  font-weight: 800;
}

.comment-author-img {
  width: 200px !important;
  min-width: 200px !important;
  max-width: 200px !important;
}

.comment {
  font-size: 1rem;
  font-weight: 600;
  color: #3c3c3c;
}

.detail-title {
  color: #000;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
}

/* CHILD PAGE END */

/* MEDIA QUERY */
@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

/* @media (max-width: 1300px) {
  .container {
    width: 90%;
  }
} */

@media (max-width: 1199px) {
  /* HEADER */

  .nav {
    display: none;
  }

  /* HEADER END */

  .section-five-thumbnail {
    grid-column: span 1;
  }

  .section-twelve-post-holder {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .slider-arrows {
    /* display: none; */
    margin: 0 20px;
  }

  .section-ten-holder {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .section-ten-left {
    grid-column: span 1;
  }

  .section-fourteen-holder {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .section-fourteen-left {
    grid-column: span 2;
  }
}

@media (max-width: 991px) {
  .container {
    width: 95%;
  }

  .section-one-title {
    font-size: 3rem;
  }

  .section-one-thumb {
    height: 100%;
  }

  .section-two-holder {
    gap: 30px;
  }

  .section-two-left {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .section-twelve-post {
    grid-column: 1;
  }

  .section-eleven-right {
    display: none;
  }

  .pradesh-news-holder {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .pradesh-main-thumb {
    grid-column: span 1;
  }

  .section-six-holder {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .section-thirteen-holder {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .section-thirteen-left {
    grid-column: span 1;
  }

  .section-ten-holder {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .section-ten-left {
    grid-column: span 1;
  }

  .bottom-footer {
    flex-direction: column;
  }

  .footer-logo-holder {
    border: 0;
  }

  .result-section-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .detail-section-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .result-section-left {
    grid-column: span 1;
  }
  .contact-form .row {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .section-two-holder {
    flex-direction: column;
  }

  .section-two-right {
    width: 100%;
    max-width: 100%;
  }

  .section-twelve-post-holder {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .footer_content {
    flex-direction: column;
  }
  .footer .footer_content .footer_info {
    width: 100%;
  }
  .footer .footer_content .footer_links {
    width: 100%;
  }
  .footer .footer_content .footer_teams {
    width: 100%;
  }

  .bottom-footer {
    flex-direction: column;
  }

  .copyright {
    flex-direction: column;
    align-items: start;
  }

  .thumbnail-small .img-holder img {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
  }

  .section-twelve-holder {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .section-fourteen-holder {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .section-fourteen-left {
    grid-column: span 1;
  }
}

@media (max-width: 575px) {
  /* HEADER */

  .logo-holder {
    width: 300px;
  }

  .header-top {
    display: none;
  }

  /* HEADER END */

  .section-one-title {
    font-size: 2rem;
  }

  .thumbnail-desc-large,
  .detail-title {
    font-size: 2rem;
  }
  .section-eleven-news-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .section-six-holder {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .footer-links-holder {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .socialmedia-share-links {
    flex-direction: column;
  }

  .comment-content {
    flex-direction: column;
  }

  .comment-author-img {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

@media (max-width: 420px) {
  /* HEADER */

  .search-bar {
    width: 200px;
  }

  /* HEADER END */
  .thumbnail-desc-large,
  .detail-title {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .share-links {
    flex-direction: column;
  }
}
