*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mukta", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
a {
  transition: all 0.3s ease;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
  object-position: top center;
  transition: all 0.3s ease;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-color: #9443b1;
  --secondary-color: #00b4ff;
}

ol,
ul {
  list-style: none;
}

.m-y-70 {
  margin: 70px 0;
}
.m-t-5 {
  margin-top: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.margin-none {
  margin: 0 !important;
}

.border-bottom {
  border-bottom: solid 2px #dfdfdf;
}

.gap-10 {
  gap: 10px;
}

.gap-30 {
  gap: 30px;
}

.span-5 {
  grid-column: span 5;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.auth-name {
  color: var(--primary-color);
  font-size: 0.9;
  font-weight: 600;
}

.auth-name:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.img-holder {
  overflow: hidden;
  border-radius: 4px;
}

.img-holder:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.ads-wrap {
  /* margin-bottom: 20px; */
}

.ads-holder {
}

.ads-holder img {
  width: 100%;
}

.thumbnail-holder {
  overflow: hidden;
  border-radius: 4px;
}

.latest-news-thumb:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.thumb-heading {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.thumbnail-desc-large {
  color: #000;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
}

.thumbnail-desc-medium {
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
}

.thumbnail-desc {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}

.thumbnail-desc:hover,
.thumbnail-desc-medium:hover,
.thumbnail-desc-large:hover {
  color: var(--primary-color);
}

.news-date {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #999;
}

.news-date:hover {
  color: var(--primary-color);
}

.news-time-history {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: #fff;
}

.news-paragraph {
  font-size: 1rem;
  color: #676767;
  margin: 10px 0;
}

.main-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h1 {
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
}

.more-button {
  color: #3c3c3c;
  font-size: 1rem;
}

.more-button:hover {
  color: var(--primary-color);
}

.small-header {
  color: #3c3c3c;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.main-header h1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
}

/* TAB */

.tabs-holder {
  border-bottom: solid 3px #dfdfdf;
  padding-bottom: 1px;
  margin-bottom: 2rem;
}

.input {
  position: absolute;
  opacity: 0;
}

.label {
  color: #000;
  font-size: 1rem;
  line-height: 1rem;
  margin-right: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.label:hover {
  color: var(--primary-color);
}
.label:active {
  color: var(--primary-color);
}
.input:focus + .label {
  z-index: 1;
}
.input:checked + .label {
  color: var(--primary-color);
  border-bottom: solid 3px var(--primary-color);
}

.input:checked + .label + .panel {
  display: flex;
}

.panel {
  display: flex;
}

/* @media (min-width: 600px) {
  .panel {
    order: 99;
  }
} */

/* TAB END */

.main-news-holder {
  text-align: center;
}

.main-news-title {
  font-size: 4rem;
  font-weight: 800;
}

.main-news-title a {
  color: #3c3c3c;
}

.main-news-title a:hover {
  color: var(--primary-color);
}

/* LATEST NEWS SECTION */
.latest-news {
}

.latest-news-holder {
  display: flex;
}

.latest-news-left {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.thumbnail-holder {
}

.latest-news-thumb {
  position: relative;
}

.thumb-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
}

.latest-news-thumb:hover .thumb-heading {
  text-decoration: underline;
  /* color: var(--secondary-color); */
}

.thumbnail-large {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-items: center;
}

.thumbnail-medium {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.thumbnail-small {
  display: flex;
  gap: 20px;
}

.thumbnail-small .img-holder img {
  width: 140px;
  min-width: 140px;
  max-width: 140px;
}

.latest-news-right {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* LATEST NEWS SECTION END*/

/* EXCLUSIVE NEWS SECTION */

.exclusive-news-holder {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 2rem;
}

.exclusive-news-list {
  grid-column: span 3 / span 3;
  display: flex;
  flex-direction: column;
}

.exclusive-news-main-thumb {
  grid-column: span 5 / span 5;
}

.exclusive-news-thumbnail-list {
  grid-column: span 4 / span 4;
  /* padding: 0.5rem 0; */
}

/* EXCLUSIVE NEWS SECTION END */

/* MOST READ NEWS SECTION */

.most-read-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.most-read-thumbnail {
  grid-column: 2/-4;
}

/* MOST READ NEWS SECTION END */

/* WEEKLY HIGHLIGHT */

.weekly-highlight-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

/* WEEKLY HIGHLIGHT END */

/* RAJNITIK NEWS SECTION */

.rajnitik-mirror-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.rajnitik-mirror-post {
  grid-column: 1/-5;
}

.rajnitik-mirror-post-holder {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

/* RAJNITIK NEWS SECTION END */

#wrapper {
  width: 100%;
  max-width: 964px;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 180px;
  height: 180px;
  background: green;
}
